.price {
    position: relative;
    padding-top: 60px;
    &__block {
        position: relative;
        margin: 60px 50px 0 50px;
        display: grid;
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 370px);
        grid-auto-rows: minmax(45px, auto);
        row-gap: 15px;
        justify-content: space-between;
        &-item {
            position: relative;
            padding-left: 25px;
            display: grid;
            grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto); /* автоширина для колонок для автоподбора под контент(длинна слова/строки) */
            justify-content: space-between;
            row-gap: 5px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $main-color;
                top: 5px;
            }
        }
        &-count {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            justify-self: end;
        }
        &-descr {
            font-size: 12px;
            line-height: 18px;
            grid-column: 1 / 3;
        }
    }
}